<!-- <script src="{{ site.baseurl }}/js/jquery-3.1.0.js"></script> -->
<!-- JavaScript Bundle with Popper -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.6.0/dist/umd/popper.min.js"></script>
 <script src="js/bootstrap.min.js"></script>

<!-- Smooth Scrolling -->
<script src="js/Smoothscrolling.js"></script>
<!-- Smooth Scrolling end -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
  integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="js/script.js"></script> 