<div class="text-center text-xl-start">

  <div class="mb-2">
    <img src="https://dummyimage.com/80x80/ccc/fff" class="rounded-circle profile_inner_pic" alt="">
  </div>
 
    <input class="form-control d-none" type="file" id="formFile" value="Change Photo" >
    <label for="formFile" class="btn btn-link btn-sm ps-0"> Change Photo </label>

</div>

<div class="row mt-4 gx-5">
  <div class="col-md-5 list__card">
    <p class="small"> Full Name </p>
    <h6> Arlene Z. Shaw </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Contact Number </p>
    <h6> Arlene Z. Shaw </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Company Name </p>
    <h6> Company Name </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> DOB </p>
    <h6> 20 / 05 / 1990 </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Gender </p>
    <h6> Male </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Monthly Membership Fee </p>
    <h6> 3650 </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Address 1 </p>
    <h6> 37 b, Surti Mohalla, Tank Street,
    Surti Mohalla Mumbai , Maharashtra - 400008 </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Address 2 </p>
    <h6> 37 b, Surti Mohalla, Tank Street,
    Surti Mohalla Mumbai , Maharashtra - 400008 </h6>
  </div>
  <div class="col-md-5 list__card">
    <p class="small"> Address 3 </p>
    <h6> 37 b, Surti Mohalla, Tank Street,
    Surti Mohalla Mumbai , Maharashtra - 400008 </h6>
  </div>
</div>