$black: #231E07;
$white: #fff;
$gray: #ccc;
$green: #0F9D58;

$brown: #5E3F00;

$footer-black:#111111;
 

$cabinsketch:  'intro_rust_gbase_2_line';
$barlow:  'Barlow', sans-serif;;

$poppins: 'Poppins', sans-serif;
$roboto: 'Roboto', sans-serif;
$opensans: 'Open Sans', sans-serif;
$nunito : 'Nunito', sans-serif;


$primary-font: $barlow;
$secondary-font: $barlow;
 
$input-bg:#FFF5F3;




// menu

$menu-text-color: $brown;
$menu-text-font: $cabinsketch;
 






 


